<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar>

    <section class="top-bar-section">
      <ul class="left">
        <!-- link to home -->
        <!-- <li><%#= link_to "Closet Infinite", home_path %></li> -->
        <li><%= link_to "Browse the Catalog", items_path %></li>
      </ul>
    </section>

<!--     <section class="top-bar-section">
      <ul class="right">
      </ul>
    </section>
 -->
  </nav>
</div>
